Repository sch1zk/Imperial-Space-SS14, pull requests merged in 2023-03, with the labels that each got.

#63 Добавлена ссылка в мете на пнг файл и реализована потайная дверь
  Resources/Prototypes/Entities/Structures/Doors/MaterialDoors/material_doors.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/doors.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Effects/tentacle.rsi/meta.json
  Resources/Textures/Structures/Doors/MineralDoors/hidden_door.rsi/closed.png
  Resources/Textures/Structures/Doors/MineralDoors/hidden_door.rsi/closing.png
  Resources/Textures/Structures/Doors/MineralDoors/hidden_door.rsi/meta.json
  Resources/Textures/Structures/Doors/MineralDoors/hidden_door.rsi/open.png
  Resources/Textures/Structures/Doors/MineralDoors/hidden_door.rsi/opening.png
Labels: Changes: Sprites, No C#

#65 Map box
  Resources/Maps/boxImperial.yml
  Resources/Prototypes/_Imperial/Maps/boxImperial.yml
Labels: Changes: Map, No C#

#66 Новые монстры для ивентов
  Content.Server/RatKing/TickKingComponent.cs
  Content.Server/RatKing/TickKingSystem.cs
  Resources/Locale/en-US/animals/rat-king/rat-king.ftl
  Resources/Locale/ru-RU/animals/rat-king/rat-king.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/narsie.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Recipes/Crafting/improvised.yml
  Resources/Textures/Mobs/Aliens/Glazohvat.rsi/dead.png
  Resources/Textures/Mobs/Aliens/Glazohvat.rsi/idle.png
  Resources/Textures/Mobs/Aliens/Glazohvat.rsi/meta.json
  Resources/Textures/Mobs/Aliens/KingTick.rsi/alive.png
  Resources/Textures/Mobs/Aliens/KingTick.rsi/dead.png
  Resources/Textures/Mobs/Aliens/KingTick.rsi/icon.png
  Resources/Textures/Mobs/Aliens/KingTick.rsi/meta.json
  Resources/Textures/Mobs/Aliens/Narsie.rsi/meta.json
  Resources/Textures/Mobs/Aliens/Narsie.rsi/narsie.png
Labels: Changes: Sprites, Changes: Localization

#64 Добавление карты Bagel
  Resources/Maps/imperial_bagel.yml
  Resources/Prototypes/_Imperial/Maps/bagelimperial.yml
Labels: Changes: Map, No C#

#67 Изменение спрайтов скафандров СМО, Атм, Куртки Хим
  Resources/Textures/Clothing/Head/Hardsuits/medical.rsi/icon-flash.png
  Resources/Textures/Clothing/Head/Hardsuits/medical.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardsuits/medical.rsi/off-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/medical.rsi/off-inhand-left.png
  Resources/Textures/Clothing/Head/Hardsuits/medical.rsi/off-inhand-right.png
  Resources/Textures/Clothing/Head/Hardsuits/medical.rsi/on-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/medical.rsi/on-inhand-left.png
  Resources/Textures/Clothing/Head/Hardsuits/medical.rsi/on-inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/atmospherics.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/medical.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/medical.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/medical.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatchem.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatchem.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatchem.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatchem.rsi/inhand-right.png
Labels: Changes: Sprites, No C#

#72 Лазерные корабельные пушки и шаттлы с ними для ивентов
  Resources/Locale/ru-RU/prototypes/cannons.ftl
  Resources/Maps/FTL/shuttles/bullet.yml
  Resources/Maps/FTL/shuttles/goldfish.yml
  Resources/Maps/FTL/shuttles/gvozd.yml
  Resources/Maps/FTL/shuttles/mantis.yml
  Resources/Maps/FTL/shuttles/meduza.yml
  Resources/Maps/FTL/shuttles/rock.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Entities/Structures/Machines/Cannons/cannons.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Structures/Power/Cannons/cannon1.rsi/beam.png
  Resources/Textures/Structures/Power/Cannons/cannon1.rsi/emitter.png
  Resources/Textures/Structures/Power/Cannons/cannon1.rsi/lock.png
  Resources/Textures/Structures/Power/Cannons/cannon1.rsi/meta.json
  Resources/Textures/Structures/Power/Cannons/cannon1.rsi/projectile.png
  Resources/Textures/Structures/Power/Cannons/cannon1.rsi/underpowered.png
  Resources/Textures/Structures/Power/Cannons/cannon1.rsi/unlock.png
  Resources/Textures/Structures/Power/Cannons/cannon2.rsi/beam.png
  Resources/Textures/Structures/Power/Cannons/cannon2.rsi/emitter.png
  Resources/Textures/Structures/Power/Cannons/cannon2.rsi/lock.png
  Resources/Textures/Structures/Power/Cannons/cannon2.rsi/meta.json
  Resources/Textures/Structures/Power/Cannons/cannon2.rsi/projectile.png
  Resources/Textures/Structures/Power/Cannons/cannon2.rsi/underpowered.png
  Resources/Textures/Structures/Power/Cannons/cannon2.rsi/unlock.png
  Resources/Textures/Structures/Power/Cannons/cannon3.rsi/beam.png
  Resources/Textures/Structures/Power/Cannons/cannon3.rsi/emitter.png
  Resources/Textures/Structures/Power/Cannons/cannon3.rsi/lock.png
  Resources/Textures/Structures/Power/Cannons/cannon3.rsi/meta.json
  Resources/Textures/Structures/Power/Cannons/cannon3.rsi/projectile.png
  Resources/Textures/Structures/Power/Cannons/cannon3.rsi/underpowered.png
  Resources/Textures/Structures/Power/Cannons/cannon3.rsi/unlock.png
  Resources/Textures/Structures/Power/Cannons/cannon4.rsi/beam.png
  Resources/Textures/Structures/Power/Cannons/cannon4.rsi/emitter.png
  Resources/Textures/Structures/Power/Cannons/cannon4.rsi/lock.png
  Resources/Textures/Structures/Power/Cannons/cannon4.rsi/meta.json
  Resources/Textures/Structures/Power/Cannons/cannon4.rsi/projectile.png
  Resources/Textures/Structures/Power/Cannons/cannon4.rsi/underpowered.png
  Resources/Textures/Structures/Power/Cannons/cannon4.rsi/unlock.png
  Resources/Textures/Structures/Power/Cannons/cannon5.rsi/beam.png
  Resources/Textures/Structures/Power/Cannons/cannon5.rsi/emitter.png
  Resources/Textures/Structures/Power/Cannons/cannon5.rsi/lock.png
  Resources/Textures/Structures/Power/Cannons/cannon5.rsi/meta.json
  Resources/Textures/Structures/Power/Cannons/cannon5.rsi/projectile.png
  Resources/Textures/Structures/Power/Cannons/cannon5.rsi/underpowered.png
  Resources/Textures/Structures/Power/Cannons/cannon5.rsi/unlock.png
Labels: Changes: Sprites, Changes: Localization, No C#

#70 Map box
  Resources/Maps/boxImperial.yml
  Resources/Prototypes/_Imperial/Maps/Pools/imperial.yml
  Resources/Prototypes/_Imperial/Maps/boxImperial.yml
Labels: Changes: Map, No C#

#79 Фикс режима ЯО
  Resources/Maps/infiltrator.yml
  Resources/Maps/nukieplanet.yml
Labels: Changes: Map, No C#

#87 Обновление карты Bagel
  Resources/Maps/imperial_bagel.yml
Labels: Changes: Map, No C#

#89 фиксы карты
  Resources/Maps/boxImperial.yml
Labels: Changes: Map, No C#

#93 Добавлены вещи на админ арену
  Resources/Maps/Test/admin_test_arena.yml
Labels: No C#

#94 фиксы карты moose
  Resources/Maps/mooseImperial.yml
  Resources/Prototypes/_Imperial/Maps/mooseImperial.yml
Labels: Changes: Map, No C#

#99 фиксы карты cluster
  Resources/Maps/clusterImperial.yml
  Resources/Prototypes/_Imperial/Maps/clusterImperial.yml
Labels: Changes: Map, No C#

#100 фикс админ арены
  Resources/Maps/Test/admin_test_arena.yml
Labels: No C#

#102 Fixed file paths
  Resources/Prototypes/_Imperial/Entities/Mobs/Player/silicon.yml
Labels: No C#

#103 Borgs
  Content.Server/Zombies/ZombifyOnDeathSystem.cs
  Resources/Locale/ru-RU/ss14-ru/prototypes/_imperial/entities/mobs/player/silicon.ftl
  Resources/Prototypes/_Imperial/Datasets/Names/ai.yml
  Resources/Prototypes/_Imperial/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/_Imperial/tags.yml
Labels: Changes: Localization

#106 удалён прототип barratry от карты которая не используется
  Resources/Prototypes/Maps/barratry.yml
Labels: Changes: Map, No C#

#105 Stage
  Content.Client/Store/Ui/StoreMenu.xaml.cs
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/backpacks/duffelbag.ftl
  Resources/Maps/Test/admin_test_arena.yml
  Resources/Maps/barratry.yml
  Resources/Maps/barratryImperial.yml
  Resources/Maps/boxImperial.yml
  Resources/Maps/clusterImperial.yml
  Resources/Maps/imperial_bagel.yml
  Resources/Maps/mooseImperial.yml
  Resources/Prototypes/Maps/barratry.yml
  Resources/Prototypes/_Imperial/Maps/Pools/imperial.yml
  Resources/Prototypes/_Imperial/Maps/barratryimperial.yml
  Resources/Prototypes/_Imperial/Maps/clusterImperial.yml
  Resources/Prototypes/_Imperial/Maps/deltaImperial.yml
  Resources/Prototypes/_Imperial/Maps/mooseImperial.yml
Labels: Changes: UI, Changes: Localization, Changes: Map

#112 Add expedition equipment
  Resources/Locale/en-US/_imperial/expedition/expedition-radio-channel.ftl
  Resources/Locale/en-US/_imperial/expedition/expedition_crates.ftl
  Resources/Locale/ru-RU/_imperial/expedition/expedition-radio-channel.ftl
  Resources/Locale/ru-RU/_imperial/expedition/expedition_crates.ftl
  Resources/Prototypes/_Imperial/Catalog/Fills/Crates/expedition_crates.yml
  Resources/Prototypes/_Imperial/Entities/Objects/Devices/encryption_key_expedition.yml
  Resources/Prototypes/_Imperial/radio_channels.yml
  Resources/Textures/Objects/Devices/encryption_keys.rsi/expedition_cypherkey.png
  Resources/Textures/Objects/Devices/encryption_keys.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, No C#

#119 Карта marathon обновлена для сервера
  Resources/Maps/marathonImperial.yml
  Resources/Prototypes/_Imperial/Maps/Pools/imperial.yml
  Resources/Prototypes/_Imperial/Maps/marathonImperial.yml
Labels: Changes: Map, No C#

#124 Map marathon arrivals fix
  Resources/Maps/marathonImperial.yml
  Resources/Prototypes/_Imperial/Maps/marathonImperial.yml
Labels: Changes: Map, No C#

#127 Map box arrivals fix
  Resources/Maps/boxImperial.yml
  Resources/Prototypes/_Imperial/Maps/boxImperial.yml
Labels: Changes: Map, No C#

#122 Доработка первой половины карт
  Resources/Maps/barratryImperial.yml
  Resources/Maps/clusterImperial.yml
  Resources/Maps/imperial_bagel.yml
  Resources/Maps/mooseImperial.yml
  Resources/Prototypes/_Imperial/Maps/mooseImperial.yml
Labels: Changes: Map, No C#
