Repository sch1zk/Imperial-Space-SS14, pull requests merged in 2023-02, with the labels that each got.

#48 Mostly maps. Also some fixes and QoL
  Resources/Changelog/ChangelogImperial.yml
  Resources/Maps/clusterImperial.yml
  Resources/Maps/mooseImperial.yml
  Resources/Prototypes/_Imperial/Entities/Mobs/NPCs/tarantula.yml
  Resources/Prototypes/_Imperial/Maps/clusterImperial.yml
Labels: Changes: Map, No C#

#46 Атрибуты рас для черт внешности человека
  Resources/Locale/en-US/_imperial/prototypes/entities/custom_parts.ftl
  Resources/Locale/ru-RU/_imperial/prototypes/entities/custom_parts.ftl
  Resources/Prototypes/_Imperial/Entities/Mobs/Customization/Markings/custom_parts.yml
  Resources/Textures/_Imperial/Mobs/Customization/custom_parts.rsi/frills_aquatic.png
  Resources/Textures/_Imperial/Mobs/Customization/custom_parts.rsi/frills_axolotl.png
  Resources/Textures/_Imperial/Mobs/Customization/custom_parts.rsi/frills_big.png
  Resources/Textures/_Imperial/Mobs/Customization/custom_parts.rsi/frills_divinity.png
  Resources/Textures/_Imperial/Mobs/Customization/custom_parts.rsi/frills_short.png
  Resources/Textures/_Imperial/Mobs/Customization/custom_parts.rsi/frills_simple.png
  Resources/Textures/_Imperial/Mobs/Customization/custom_parts.rsi/horns_curled.png
  Resources/Textures/_Imperial/Mobs/Customization/custom_parts.rsi/horns_demon.png
  Resources/Textures/_Imperial/Mobs/Customization/custom_parts.rsi/horns_double.png
  Resources/Textures/_Imperial/Mobs/Customization/custom_parts.rsi/horns_ram.png
  Resources/Textures/_Imperial/Mobs/Customization/custom_parts.rsi/horns_short.png
  Resources/Textures/_Imperial/Mobs/Customization/custom_parts.rsi/horns_simple.png
  Resources/Textures/_Imperial/Mobs/Customization/custom_parts.rsi/meta.json
  Resources/Textures/_Imperial/Mobs/Customization/custom_parts.rsi/tail_dtiger.png
  Resources/Textures/_Imperial/Mobs/Customization/custom_parts.rsi/tail_dtiger_behind.png
  Resources/Textures/_Imperial/Mobs/Customization/custom_parts.rsi/tail_dtiger_front.png
  Resources/Textures/_Imperial/Mobs/Customization/custom_parts.rsi/tail_ltiger.png
  Resources/Textures/_Imperial/Mobs/Customization/custom_parts.rsi/tail_ltiger_behind.png
  Resources/Textures/_Imperial/Mobs/Customization/custom_parts.rsi/tail_ltiger_front.png
  Resources/Textures/_Imperial/Mobs/Customization/custom_parts.rsi/tail_smooth.png
  Resources/Textures/_Imperial/Mobs/Customization/custom_parts.rsi/tail_smooth_behind.png
  Resources/Textures/_Imperial/Mobs/Customization/custom_parts.rsi/tail_smooth_front.png
  Resources/Textures/_Imperial/Mobs/Customization/custom_parts.rsi/tail_spikes.png
  Resources/Textures/_Imperial/Mobs/Customization/custom_parts.rsi/tail_spikes_behind.png
  Resources/Textures/_Imperial/Mobs/Customization/custom_parts.rsi/tail_spikes_front.png
Labels: Changes: Sprites, Changes: Localization, No C#

#56 Goliath and tentacle
  Content.Server/Goliath/CanSummonTentacle.cs
  Content.Shared/Goliath/SharedCanSummonTentacleComponent.cs
  Content.Shared/Goliath/SharedGoliathSystem.cs
  Content.Shared/Goliath/SharedTentacleActiveComponent.cs
  Content.Shared/Goliath/SharedTentacleComponent.cs
  Content.Shared/Goliath/SharedTentacleSystem.cs
  Content.Shared/Weapons/Melee/Events/MeleeHitEvent.cs
  Resources/Locale/en-US/actions/actions/goliath-tentacle.ftl
  Resources/Locale/ru-RU/actions/actions/goliath-tentacle.ftl
  Resources/Maps/ChandlerStation.yml
  Resources/Maps/ChandlerStationMAP.yml
  Resources/Maps/FTL/ftl_station_outpost_1
  Resources/Prototypes/Actions/goliath.yml
  Resources/Prototypes/Entities/Effects/tentacle.yml
  Resources/Prototypes/Entities/Mobs/NPCs/lavaland.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/surgery.yml
  Resources/Prototypes/Entities/Objects/Tools/bucket.yml
  Resources/Prototypes/Entities/Objects/Tools/instrument_handle.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/pickaxe.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/improvised/bucket.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/improvised/crowbar.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/improvised/handle.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/improvised/pickaxe.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/improvised/scalpelshiv.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/improvised/wirecutter.yml
  Resources/Prototypes/Recipes/Crafting/improvised.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Effects/tentacle.rsi/hit.png
  Resources/Textures/Effects/tentacle.rsi/meta.json
  Resources/Textures/Effects/tentacle.rsi/spawn.png
  Resources/Textures/Effects/tentacle.rsi/tentacle.png
  Resources/Textures/Interface/Actions/goliath_tenacle.png
  Resources/Textures/Mobs/Lavaland/bloodygoliath.rsi/dead.png
  Resources/Textures/Mobs/Lavaland/bloodygoliath.rsi/idle.png
  Resources/Textures/Mobs/Lavaland/bloodygoliath.rsi/meta.json
  Resources/Textures/Mobs/Lavaland/goliath.rsi/angry.png
  Resources/Textures/Mobs/Lavaland/goliath.rsi/dead.png
  Resources/Textures/Mobs/Lavaland/goliath.rsi/idle.png
  Resources/Textures/Mobs/Lavaland/goliath.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/pickaxe.rsi/handle.png
  Resources/Textures/Objects/Weapons/Melee/pickaxe.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Changes: Map
